@use 'utils/typography';

html {
  box-sizing: border-box;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  background-color: lightgray;
  font-family: typography.$font-family-bitter;
}

h1,
h2,
h3,
h4,
h5 {
  margin: 0;
  padding: 0;
  font-weight: bold;
}

app-sidebar-articles {
  .mat-tab-label {
    min-width: 0 !important;
    padding: 3px !important;
    margin: 3px !important;
  }

  .mat-tab-label-active {
    color: #fcc44d;
  }

  .mat-tab-labels {
    background-color: #433a6e;
    color: white;
  }

  .mat-ink-bar {
    width: 0px !important;
  }
}
