@use 'utils/colors';
@use 'utils/typography';

:host {
  background-color: colors.$white;
  border-left: 10px solid;
  padding: 15px 0px;
  width: 100%;
}

.title {
  font-size: typography.$font-size-xl;
  font-weight: bold;
  color: colors.$sidebar-black;
  font-family: typography.$font-family-bitter;
}

.header {
  margin: 0px 31px 30px 31px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.arrows {
  display: flex;
  flex-direction: row;
  column-gap: 20px;
  img {
    align-self: center;
    cursor: pointer;
  }
}

.carousel {
  margin: 0px 15px 0px 15px;
  img {
    height: 150px;
  }
}

.slide {
  text-decoration: none;
  display: flex;
  flex-direction: column;
  row-gap: 5px;
  padding: 0px 15px 0px 15px;
}

.date {
  font-family: typography.$font-family-varela-round;
  font-size: typography.$font-size-xxs;
  color: #666666;
}

.article-title {
  font-family: typography.$font-family-bitter;
  font-size: typography.$font-size-sm;
  font-weight: bold;
  color: colors.$sidebar-black;
}
