<ng-container *ngIf="templateData$ | async as templateData">
    <div class="article-header">
        <img class="article-image" [src]="templateData.article.imgUrl" alt="">
        <img class="blend" src="assets/images/blend.png" alt="">
        <div class="article-info">
            <span class="article-date">{{ templateData.article.createdAt.toLocaleDateString('en-US', dateOptions)
                }}</span>
            <h1 class="article-title">{{ templateData.article.title }}</h1>
        </div>
    </div>
    <div class="main">
        <div class="main-content">
            <div class="body">
                <p class="article-text">{{ templateData.article.body }}</p>
                <img class="inserted-image" src="assets/images/article_image.png" alt="">
                <p class="article-text">{{ templateData.article.body }}</p>
                <img class="social-bar" src="assets/images/social_bar.png" alt="">
            </div>
            <div class="mid-banner"></div>
            <div class="author">
                <h1 class="section-title">About the Author</h1>
                <div class="author-info">
                    <img src="assets/images/author_image.png" alt="">
                    <p class="author-about">Molestias ultricies, ante quam urna ut volutpat, egestas dolor dui, nec
                        hac
                        ultrices nulla non
                        netus.
                        Placerat vehicula donec non suscipit egestas, augue vel suspendisse. Et felis venenatis
                        blandit
                        sed est
                        ultrices, adipiscing urna, at aliquam nullam facilisis aliquet sapien, eget duis
                        consectetuer
                        tristique
                        nunc
                        vitae erat, mi purus nisl lorem. </p>
                </div>
            </div>

            <div class="comments">
                <h1 class="section-title">Comments</h1>
                <ng-container *ngFor="let comment of templateData.comments">
                    <div class="comment">
                        <img class="comment-image" src="assets/images/thumbnail_avatar.png" alt="">
                        <div class="comment-body">
                            <div class="comment-info">
                                <span class="comment-name">{{ comment.name }}</span>
                                <span class="comment-date">{{ comment.createdAt.toLocaleString('en-US',
                                    dateOptions)
                                    }}</span>
                                <span class="reply-link">Reply</span>
                            </div>
                            <p class="comment-body">{{ comment.body }}</p>
                        </div>
                    </div>
                </ng-container>
                <h1 class="section-title">Add your comment</h1>
                <p class="comments-intro">Molestias ultricies, ante quam urna ut volutpat, egestas dolor dui,
                    nec
                    hac
                    ultrices nulla non
                    netus.
                    Placerat vehicula donec non suscipit egestas, augue vel suspendisse. Et felis venenatis
                    blandit
                    sed est
                    ultrices, adipiscing urna, at aliquam nullam facilisis aliquet sapien, eget duis
                    consectetuer
                    tristique
                    nunc
                    vitae erat, mi purus nisl lorem. </p>
                <form class="form">
                    <input class="form-field name-field" type="text" name="name" id="name" placeholder="Name">
                    <input class="form-field email-field" type="email" name="email" id="email"
                        placeholder="Email Address">
                    <textarea class="form-field body-field" name="body" id="body" placeholder="Comment"></textarea>
                    <button class="btn">Submit</button>
                </form>
            </div>
        </div>
        <div class="sidebar">
            <app-sidebar></app-sidebar>
        </div>
    </div>

</ng-container>