$alto: #dcdada;
$white: #ffffff;
$black: #000000;
$mine-shaft: #252525;
$mine-shaft-light: #2e2d2d;
$victoria: #4d4382;
$astral: #3677b5;
$burnt-sienna: #ee6151;
$mantis: #84c14f;
$malibu: #5dcff3;
$saffron-mango: #fcc44d;
$barley-corn: #a99765;
