$font-family-bitter: "Bitter", serif;
$font-family-varela: "Varela", sans-serif;
$font-family-varela-round: "Varela Round", sans-serif;

$font-size-xxxl: 44px;
$font-size-xxl: 34px;
$font-size-xl: 24px;
$font-size-lg: 18px;
$font-size-md: 16px;
$font-size-sm: 14px;
$font-size-xs: 13px;
$font-size-xxs: 12px;
$font-size-xxxs: 10px;

/*
$font-size-heading: 32px;
$font-size-paragraph: 18px;
$font-size-sample-text: 15px;
$letter-spacing-base: -0.2px;
$line-height-heading: 40px;
$line-height-paragraph: 26px;
$line-height-sample-text: 18px;
*/
