@use 'utils/colors';
@use 'utils/typography';

.title {
  font-size: 24px;
  margin-bottom: 25px;
}

.tweet-header {
  color: colors.$footer-dark;
  margin-bottom: 1px;
  img {
    margin-right: 5px;
  }
}

.tweet-content {
  color: colors.$footer-light;
  font-family: typography.$font-family-varela;
  p {
    margin: 0;
  }
}

.tweet-list {
  display: flex;
  flex-direction: column;
  row-gap: 30px;
}
