<h1 class="title">Twitter Feed</h1>
<div class="tweet-list">
    <div class="tweet">
        <div class="tweet-header">
            <img src="assets/images/twitter_logo_small.png" alt="">
            <span class="tweet-author">Envato @envato</span>
        </div>
        <div class="tweet-content">
            <p>Aenean accumsan mattis erat quis rhoncus. Etiam feugiat non elit a lobortis. Mauris libero ipsum, maximus
            </p>
        </div>
    </div>
    <div class="tweet">
        <div class="tweet-header">
            <img src="assets/images/twitter_logo_small.png" alt="">
            <span class="tweet-author">Envato @envato</span>
        </div>
        <div class="tweet-content">
            <p>Aenean accumsan mattis erat quis rhoncus. Etiam feugiat non elit a lobortis. Mauris libero ipsum, maximus
            </p>
        </div>
    </div>
    <div class="tweet">
        <div class="tweet-header">
            <img src="assets/images/twitter_logo_small.png" alt="">
            <span class="tweet-author">Envato @envato</span>
        </div>
        <div class="tweet-content">
            <p>Aenean accumsan mattis erat quis rhoncus. Etiam feugiat non elit a lobortis. Mauris libero ipsum, maximus
            </p>
        </div>
    </div>
</div>