<div class="header-top">
    <mat-toolbar class="toolbar-top">
        <div class="logo-box">
            <a routerLink="">
                <img class="tb-item" src="assets/images/logo_small.svg" alt="">
            </a>
        </div>
        <a routerLink="" class="tb-item tb-logo">Kenaz</a>
        <span class="spacer"></span>
        <span class="tb-item tb-info">Media</span>
        <span class="tb-item tb-info">Marketing</span>
        <span class="tb-item tb-info">Contact</span>
        <div class="search-box">
            <img class="tb-item tb-info" src="assets/images/search.svg" alt="">
        </div>
    </mat-toolbar>
</div>
<div class="header-bottom">
    <mat-toolbar class="toolbar-bottom">
        <span class="tb-item tb-category" style="border-bottom-color: #3677B5;">News</span>
        <a routerLink="categories/business" style="border-bottom-color: #EE6151;"
            class="tb-item tb-category">Business</a>
        <a routerLink="categories/sport" style="border-bottom-color: #84C14F;" class="tb-item tb-category">Sport</a>
        <span style="border-bottom-color: #5DCFF3;" class="tb-item tb-category">Life</span>
        <span style="border-bottom-color: #FCC44D;" class="tb-item tb-category">Tech</span>
        <span style="border-bottom-color: #A99765;" class="tb-item tb-category">Travel</span>
    </mat-toolbar>
</div>