@use 'utils/typography';
@use 'utils/colors';
@use 'utils/layout';

.header-top {
  background-color: colors.$mine-shaft;
  width: 100%;
}

.logo-box {
  background-color: colors.$mine-shaft-light;
  height: 100%;
  display: flex;
  align-items: center;
}

.header-bottom {
  background-color: colors.$victoria;
  width: 100%;
}

.tb-item {
  padding: 0 20px;
}

.tb-logo {
  font-family: typography.$font-family-bitter;
  font-size: typography.$font-size-xl;
}

.tb-info {
  font-family: typography.$font-family-varela-round;
  font-size: typography.$font-size-sm;
  cursor: pointer;
}

.toolbar-top {
  background-color: colors.$mine-shaft;
  margin: 0 auto;
  width: layout.$main-container-width;
  height: 53px;
  padding: 0;
}

.toolbar-bottom {
  background-color: colors.$victoria;
  margin: 0 auto;
  width: layout.$main-container-width;
  height: 53px;
  padding: 0;
}

.search-box {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  width: 60px;
  background-color: colors.$mine-shaft-light;
  img {
    width: 16px;
    height: 16px;
  }
}

.spacer {
  flex: 1 1 auto;
}

a,
span {
  text-decoration: none;
  color: white;
  display: flex;
  height: 100%;
  align-items: center;
}

.tb-category {
  border-bottom: 5px solid;
  text-transform: uppercase;
  font-family: typography.$font-family-bitter;
  font-weight: bold;
  font-size: typography.$font-size-lg;
}

.tb-news {
  border-bottom-color: colors.$astral;
  &:hover {
    background-color: colors.$astral;
  }
}

.tb-business {
  border-bottom-color: colors.$burnt-sienna;
  &:hover {
    background-color: colors.$burnt-sienna;
  }
}

.tb-sport {
  border-bottom-color: colors.$mantis;
  &:hover {
    background-color: colors.$mantis;
  }
}

.tb-life {
  border-bottom-color: colors.$malibu;
  &:hover {
    background-color: colors.$malibu;
  }
}

.tb-tech {
  border-bottom-color: colors.$saffron-mango;
  &:hover {
    background-color: colors.$saffron-mango;
  }
}

.tb-travel {
  border-bottom-color: colors.$barley-corn;
  &:hover {
    background-color: colors.$barley-corn;
  }
}

.tb-category:hover {
  border: none;
  cursor: pointer;
}
