<div class="header-top">
    <mat-toolbar class="toolbar-top">
        <div class="logo-box">
            <a routerLink="">
                <img class="tb-item" src="assets/images/logo_small.svg" alt="">
            </a>
        </div>
        <a routerLink="" class="tb-item tb-logo">Kenaz</a>
        <span class="spacer"></span>
        <span class="tb-item tb-info">Media</span>
        <span class="tb-item tb-info">Marketing</span>
        <span class="tb-item tb-info">Contact</span>
        <div class="search-box">
            <img class="magnifier" src="assets/images/small_magnifier.png" alt="">
        </div>
    </mat-toolbar>
</div>
<div class="header-bottom">
    <mat-toolbar class="toolbar-bottom">
        <a routerLink="categories/news" class="tb-item tb-category tb-news">News</a>
        <a routerLink="categories/business" class="tb-item tb-category tb-business">Business</a>
        <a routerLink="categories/sport" class="tb-item tb-category tb-sport">Sport</a>
        <a routerLink="categories/life" class="tb-item tb-category tb-life">Life</a>
        <a routerLink="categories/tech" class="tb-item tb-category tb-tech">Tech</a>
        <a routerLink="categories/travel" class="tb-item tb-category tb-travel">Travel</a>
    </mat-toolbar>
</div>