<h1>{{ title }}</h1>
<ng-container *ngFor="let article of articles">
    <a [routerLink]="['articles', article.id]">
        <div class="article">
            <div class="content">
                <div class="date">
                    <span>{{ article.createdAt.toLocaleDateString('en-US', dateOptions) }}</span>
                    <span>5</span>
                </div>
                <span class="article-title">{{ article.title }}</span>
            </div>
            <img class="image" [src]="article.imgUrl" alt="">
        </div>
    </a>
</ng-container>