<div class="header">
    <span>{{ title }}</span>
    <ng-container [ngTemplateOutlet]="header === 'link' ? link : arrows"></ng-container>
</div>
<div [ngClass]="type ==='vertical' ? 'vertical-content' : 'horizontal-content'">
    <ng-container *ngFor="let article of articles" [ngTemplateOutlet]="type === 'vertical' ? vertical : horizontal"
        [ngTemplateOutletContext]="{article:article}">
    </ng-container>
</div>

<ng-template #arrows>
    <div class="arrows">
        <img class="arrow" src="assets/images/arrow_left.svg" alt="">
        <img class="arrow" src="assets/images/arrow_right.svg" alt="">
    </div>
</ng-template>
<ng-template #link>
    <span>See all</span>
</ng-template>

<ng-template #vertical let-article='article'>
    <a class="article" [routerLink]="['/articles', article.id]">
        <mat-card class="article">
            <img [ngClass]="header === 'link' ? 'small-image' : 'big-image'" [src]="article.imgUrl"
                alt="Photo of a Shiba Inu">
            <mat-card-content>
                <p>{{ article.createdAt.toLocaleDateString('en-US', dateOptions) }}</p>
                <p>{{ article.title }}</p>
            </mat-card-content>
        </mat-card>
    </a>
</ng-template>

<ng-template #horizontal let-article='article'>
    <a class="horizontal-card" [routerLink]="['/articles', article.id]">
        <div class="horizontal-card">
            <img class="horizontal-image" [src]="article.imgUrl" alt="Photo of a Shiba Inu">
            <div class="horizontal-card-content">
                <p>{{ article.createdAt.toLocaleDateString('en-US', dateOptions) }}</p>
                <p>{{ article.title }}</p>
            </div>
        </div>
    </a>
</ng-template>