<div class="header">
    <span>{{ title }}</span>
    <span>see all</span>
</div>
<div class="content">
    <ng-container *ngFor="let article of articles">
        <mat-card class="article">
            <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg"
                alt="Photo of a Shiba Inu">
            <mat-card-content>
                <p>{{ article.createdAt.toLocaleDateString() }}</p>
                <p>{{ article.title }}</p>
            </mat-card-content>
        </mat-card>
    </ng-container>
</div>