@use 'utils/colors';
@use 'utils/typography';

:host {
  display: block;
  border-left: 10px solid;
  width: 100%;
  background-color: white;
  padding: 15px 30px 30px 30px;
}

.title {
  font-size: 24px;
  font-weight: bold;
  font-family: typography.$font-family-bitter;
  color: #363f48;
}

.link {
  font-size: 14px;
  font-family: typography.$font-family-varela-round;
  text-decoration: underline;
  text-decoration-style: dotted;
  color: #3677b5;
}

.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-bottom: 30px;
}

.vertical-content {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
  column-gap: 20px;
}

.horizontal-content {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
  row-gap: 30px;
  column-gap: 5px;
}

.horizontal-card-content {
  padding-left: 15px;
  display: flex;
  flex-direction: column;
  column-gap: 5px;
  margin-top: 10px;
}

.arrow {
  margin: 0px 10px;
}

.small-image {
  width: 100%;
  height: 128px;
  object-fit: cover;
}

.big-image {
  width: 100%;
  height: 230px;
  object-fit: cover;
}

.horizontal-image {
  max-width: 120px;
  height: 90px;
}

.vertical-image {
  width: 100%;
  height: 170px;
  object-fit: cover;
}

.horizontal-card {
  flex: 1 1 20%;
  text-decoration: none;
  color: black;
  display: flex;
  flex-direction: row;
}

.article {
  text-decoration: none;
  flex: 1 1 30%;
  background-color: white;
  color: black;
  box-shadow: none;
  padding: 0;
}

.card-content {
  display: flex;
  flex-direction: column;
  row-gap: 5px;
}

.date {
  font-family: typography.$font-family-varela-round;
  font-size: 14px;
  color: #666666;
}

.article-title {
  font-family: typography.$font-family-bitter;
  font-size: 18px;
  font-weight: bold;
}
