:host {
  display: block;
  border-left: 10px solid;
  width: 100%;
  background-color: white;
}

.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.vertical-content {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 0 40px;
  flex-wrap: wrap;
}

.horizontal-content {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
  margin: 0 40px;
}

.arrow {
  margin: 0px 10px;
}

.horizontal-image {
  max-width: 120px;
}

.horizontal-card-content {
  margin-left: 10px;
}

.horizontal-card {
  flex: 1 1 35%;
  margin: 15px 5px;
  display: flex;
  flex-direction: row;
}

.article {
  margin: 15px 5px;
  flex: 1 1 15%;
}
