.content {
  display: flex;
  flex-direction: column;
  row-gap: 15px;
}

.main {
  display: flex;
  flex-direction: row;
  column-gap: 15px;
}

.special-articles {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  column-gap: 20px;
}

.mid-banner {
  border: 1px solid black;
  width: 100%;
  height: 120px;
  margin: 10px 0;
}

.banner-large {
  margin: 16px auto;
  width: 100%;
  height: 120px;
  border: 1px solid black;
}
