:host {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.article {
  margin-bottom: 10px;
}

.main {
  margin-right: 10px;
  flex: 7;
}

.side {
  margin-left: 10px;
  min-width: 300px;
  flex: 1;
}

.banner-group {
  background-color: gray;
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.banner {
  margin: 20px;
  background-color: white;
  width: 125px;
  height: 125px;
}
