<ng-container *ngIf="templateData$ | async as templateData">
    <app-article-slider [articles]="templateData.newsArticles"></app-article-slider>
    <div class="main">
        <div class="content">
            <app-category-articles class="article" title="News" [articles]="templateData.newsArticles"
                style="border-left-color: #3677B5;">
            </app-category-articles>
            <app-category-articles class="article" title="Sport" [articles]="templateData.sportArticles"
                style="border-left-color: #84C14F;">
            </app-category-articles>
            <div class="mid-banner"></div>
            <app-category-articles class="article" title="Business" [articles]="templateData.businessArticles"
                style="border-left-color: #EE6151" type="horizontal"></app-category-articles>
            <div class="mid-banner"></div>
            <app-article-carousel [displayAmount]=2 class="carousel" style="border-left-color:#FCC44D"
                title="News Carousel" [articles]="templateData.newsCarousel">
            </app-article-carousel>
            <div class="special-articles">
                <app-article-carousel class="special-article" title="Editorials"
                    [articles]="templateData.editorialArticles" style="border-left-color:#A99765">
                </app-article-carousel>
                <app-article-carousel class="special-article" title="Local News"
                    [articles]="templateData.localNewsArticles" style="border-left-color:#A99765">
                </app-article-carousel>
            </div>
        </div>
        <div class="sidebar">
            <app-sidebar></app-sidebar>
        </div>
    </div>
    <div class="banner-large"></div>
    <app-image-slider></app-image-slider>
</ng-container>