:host {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.article {
  margin-bottom: 10px;
}

.main {
  margin-right: 10px;
  flex: 7;
}

.side {
  margin-left: 10px;
  min-width: 300px;
  flex: 1;
}
