<div class="main">
    <app-category-articles class="article" title="News" [articles]="newsArticles" style="border-left-color: blue;">
    </app-category-articles>
    <app-category-articles class="article" title="Sport" [articles]="sportArticles" style="border-left-color: green;">
    </app-category-articles>
    <app-category-articles class="article" title="Business" [articles]="businessArticles"
        style="border-left-color: orange" type="horizontal"></app-category-articles>
</div>
<div class="side">
    <app-sidebar-articles [articles]="popularArticles"></app-sidebar-articles>
    <app-sidebar-social></app-sidebar-social>
    <app-sidebar-video></app-sidebar-video>
    <div class="banner-group">
        <div class="banner">
        </div>
        <div class="banner">
        </div>
    </div>
    <app-sidebar-facebook></app-sidebar-facebook>
</div>