<div class="header-top">
    <mat-toolbar class="toolbar-top">
        <img class="tb-item" src="assets/images/kenaz_logo.svg" alt="">
        <span class="tb-item">Kenaz</span>
        <span class="spacer"></span>
        <span class="tb-item">Media</span>
        <span class="tb-item">Marketing</span>
        <span class="tb-item">Contact</span>
        <img class="search tb-item" src="assets/images/search.svg" alt="">
    </mat-toolbar>
</div>
<div class="header-bottom">
    <mat-toolbar class="toolbar-bottom">
        <span class="tb-item">News</span>
        <span class="tb-item">Business</span>
        <span class="tb-item">Sport</span>
        <span class="tb-item">Life</span>
        <span class="tb-item">Tech</span>
        <span class="tb-item">Travel</span>
    </mat-toolbar>
</div>

<div class="banner"></div>

<div class="content">
    <router-outlet></router-outlet>
</div>