.spacer {
  flex: 1 1 auto;
}

.hidden {
  display: none;
}

.main {
  display: flex;
  flex-direction: row;
  margin: 0 auto;
  width: 60%;
  column-gap: 15px;
  justify-content: space-between;
}

.header-top {
  background-color: black;
}

.header-bottom {
  background-color: #4d4382;
}

.tb-item {
  margin-right: 25px;
}
.toolbar-top {
  background-color: black;
  margin: 0 auto;
  width: 60%;
}

.toolbar-bottom {
  background-color: #4d4382;
  margin: 0 auto;
  width: 60%;
}

.search {
  width: 16px;
  height: 16px;
}

.banner {
  margin: 16px auto;
  width: 60%;
  height: 120px;
  border: 1px solid black;
}
