@use 'utils/layout';

.main {
  margin: 0 auto;
  width: layout.$main-container-width;
}

.banner {
  margin: 16px auto;
  width: layout.$main-container-width;
  height: 120px;
  background-color: white;
  border: 1px solid black;
}

.footer {
  margin-top: 20px;
}
