.main {
  display: flex;
  flex-direction: row;
  margin: 0 auto;
  width: 60%;
  column-gap: 15px;
  justify-content: space-between;
}

.banner {
  margin: 16px auto;
  width: 60%;
  height: 120px;
  border: 1px solid black;
}
