:host {
  display: flex;
  flex-direction: column;
  row-gap: 30px;
  width: 100%;
}

.banner-group {
  padding: 20px;
  width: 100%;
  display: flex;
  background-color: #dddddd;
  column-gap: 15px;
  justify-content: space-around;
}

.small-banner {
  background-color: white;
  width: 125px;
  height: 125px;
}
