:host {
  display: flex;
  flex-direction: column;
  row-gap: 15px;
  width: 100%;
}

.banner-group {
  background-color: gray;
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.small-banner {
  margin: 20px;
  background-color: white;
  width: 125px;
  height: 125px;
}
