<h1>Social</h1>
<div class="row">
    <img src="assets/images/facebook.svg" alt="">
    <div class="content">
        <span>Like</span>
    </div>
    <div class="count">
        <span>25041 Likes</span>
    </div>
</div>
<div class="row">
    <img src="assets/images/twitter.svg" alt="">
    <div class="content">
        <span>Follow</span>
    </div>
    <div class="count">
        <span>25041 Followers</span>
    </div>
</div>
<div class="row">
    <img src="assets/images/youtube.svg" alt="">
    <div class="content">
        <span>Subscribe</span>
    </div>
    <div class="count">
        <span>941 Subscribers</span>
    </div>
</div>