<mat-tab-group mat-stretch-tabs class="group" animationDuration="0ms">
    <mat-tab label="Popular">
        <ng-template [ngTemplateOutlet]="content"></ng-template>
    </mat-tab>
    <mat-tab label="Top Rated">
        <ng-template [ngTemplateOutlet]="content"></ng-template>
    </mat-tab>
    <mat-tab label="Comments">
        <ng-template [ngTemplateOutlet]="content"></ng-template>
    </mat-tab>
</mat-tab-group>

<ng-template #content>
    <ng-container *ngFor="let article of articles">
        <a class="article-link" [routerLink]="['/articles', article.id]">
            <div class="article">
                <div class="content">
                    <div class="comment-info">
                        <img src="assets/images/speech_bubble.png" alt="">
                        <span>5</span>
                    </div>
                    {{ article.createdAt.toLocaleDateString('en-US', dateOptions) }}
                    <h3>{{ article.title }}</h3>
                </div>
                <img class="image" [src]="article.imgUrl" alt="">
            </div>
        </a>
    </ng-container>
</ng-template>