:host {
  display: block;
  background-color: white;
  p {
    margin-top: 0px;
  }
  h1,
  h2,
  h3 {
    margin-top: 0px;
  }
}
.content {
  display: flex;
  flex-direction: row;
  column-gap: 20px;
  justify-content: space-between;
  align-items: flex-start;
}

.image {
  width: 170px;
  height: 125px;
}
