@use 'utils/colors';
@use 'utils/typography';
@use 'utils/layout';

:host {
  display: flex;
  flex-direction: column;
  row-gap: 20px;
  width: 100%;
}

.main-content {
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
  width: layout.$main-content-width;
  row-gap: 20px;
  p {
    margin-top: 0px;
  }
}

.sidebar {
  min-width: 0;
}

.article-list {
  background-color: colors.$white;
  display: flex;
  flex-direction: column;
  row-gap: 20px;
}

.main {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  column-gap: 17px;
}
.article-content {
  display: flex;
  flex-direction: row;
  column-gap: 20px;
  justify-content: space-between;
  align-items: flex-start;
}

.image {
  width: 170px;
  height: 128px;
}

.misc {
  display: flex;
  flex-direction: row;
  align-items: center;
  column-gap: 50px;
  font-family: typography.$font-family-varela-round;
  font-size: typography.$font-size-xxs;
  color: #666666;
}

.article {
  display: flex;
  flex-direction: column;
  row-gap: 15px;
  border-bottom: 1px solid #dddddd;
  padding: 30px;
  padding-bottom: 60px;
}

.btn {
  background-color: #4d4382;
  border: none;
  width: 125px;
  height: 35px;
  font-family: typography.$font-family-varela-round;
  font-size: typography.$font-size-sm;
  color: colors.$white;
  cursor: pointer;
}

.date-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  column-gap: 5px;
}

.pagination {
  margin: 10px 0px 30px 30px;
  display: flex;
  column-gap: 5px;
  span {
    display: block;
    width: 35px;
    height: 35px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #dddddd;
    color: colors.$victoria;
    font-family: typography.$font-family-varela-round;
    font-size: typography.$font-size-sm;
    cursor: pointer;
  }
  span:hover {
    background-color: #4d4382;
    color: white;
  }
}

.article-body {
  font-family: typography.$font-family-bitter;
  font-size: typography.$font-size-sm;
  line-height: 22px;
  color: colors.$article-text;
}

.banner {
  width: 100%;
  background-color: colors.$white;
  height: 120px;
  border: 1px solid colors.$black;
}

.article-title {
  font-size: typography.$font-size-xl;
  font-weight: bold;
  color: colors.$sidebar-black;
}

.title {
  text-transform: capitalize;
  font-size: typography.$font-size-xl;
  font-weight: bold;
  color: colors.$sidebar-black;
  margin: 15px 0px 0px 30px;
}
