@use 'utils/colors';
@use 'utils/typography';

:host {
  display: flex;
  flex-direction: column;
  row-gap: 20px;
  width: 100%;
}

.main-content {
  display: flex;
  flex-direction: column;
  row-gap: 20px;
  flex: 2;
  p {
    margin-top: 0px;
  }
}

.article-list {
  background-color: colors.$white;
  display: flex;
  flex-direction: column;
  row-gap: 20px;
  padding: 30px;
}

.sidebar {
  flex: 1;
}

.main {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  column-gap: 15px;
}
.article-content {
  display: flex;
  flex-direction: row;
  column-gap: 20px;
  justify-content: space-between;
  align-items: flex-start;
}

.image {
  width: 170px;
  height: 125px;
}

.misc {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 55%;
  align-items: center;
  font-family: typography.$font-family-varela-round;
  font-size: 12px;
  color: #666666;
}

.date {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.article {
  display: flex;
  flex-direction: column;
  row-gap: 15px;
  border-bottom: 1px solid #dddddd;
  padding-bottom: 60px;
}

.btn {
  background-color: #4d4382;
  border: none;
  width: 125px;
  height: 35px;
  font-family: typography.$font-family-varela-round;
  font-size: 14px;
  color: colors.$white;
  cursor: pointer;
}

.pagination {
  margin: 10px 0px 30px 30px;
  display: flex;
  column-gap: 5px;
  span {
    display: block;
    width: 35px;
    height: 35px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #dddddd;
    color: #4d4382;
    font-family: typography.$font-family-varela-round;
    font-size: 14px;
    cursor: pointer;
  }
  span:hover {
    background-color: #4d4382;
    color: white;
  }
}

h1 {
  font-size: 24px;
  font-weight: bold;
  font-family: typography.$font-family-bitter;
  color: #363f48;
}

.article-body {
  font-family: typography.$font-family-bitter;
  font-size: 14px;
  line-height: 22px;
}

.banner {
  width: 100%;
  background-color: colors.$white;
  height: 120px;
  border: 1px solid colors.$black;
}
