@use 'utils/colors';
@use 'utils/typography';

:host {
  display: flex;
  flex-direction: column;
  row-gap: 5px;
  background-color: colors.$white;
  padding: 5px 0px;
}

.title {
  font-size: typography.$font-size-xl;
}

.video {
  width: 100%;
  height: 150px;
}

.header {
  margin: 15px 15px 30px 30px;
}

.article-info {
  margin: 10px 0px 25px 30px;
  display: flex;
  row-gap: 5px;
  flex-direction: column;
}

.date {
  font-family: typography.$font-family-varela-round;
  font-size: typography.$font-size-xxs;
}

.article-title {
  font-family: typography.$font-family-bitter;
  font-size: typography.$font-size-sm;
  font-weight: bold;
}
