<div class="content article-slider">
    <ngx-slick-carousel class="carousel" #slickModal="slick-carousel" [config]="slideConfig">
        <div ngxSlickItem *ngFor="let article of articles" class="slide">
            <img class="image" [src]="article.imgUrl" alt="" width="100%">
            <div class="article">
                <div class="article-info">
                    <span>{{ article.createdAt.toLocaleDateString('en-US', dateOptions) }}</span>
                    <div class="comment-count">
                        <img src="assets/images/speech_bubble.png" alt="">
                        <span>22 comments</span>
                    </div>
                </div>
                <h1 class="title">{{ article.title }}</h1>
                <button [routerLink]="['/articles', article.url]" class="btn">Read article</button>
            </div>
        </div>
    </ngx-slick-carousel>
    <img (click)="prev()" class="article-slider-prev" src="assets/images/arrow_left.png" />
    <img (click)="next()" class="article-slider-next" src="assets/images/arrow_right.png" />
</div>