<mat-tab-group mat-stretch-tabs class="group" animationDuration="0ms">
    <mat-tab label="Popular">
        <ng-template [ngTemplateOutlet]="popular"></ng-template>
    </mat-tab>
    <mat-tab label="Top Rated">
        <ng-template [ngTemplateOutlet]="topRated"></ng-template>
    </mat-tab>
    <mat-tab label="Comments">
        <ng-template [ngTemplateOutlet]="popular"></ng-template>
    </mat-tab>
</mat-tab-group>

<ng-template #popular>
    <ng-container *ngFor="let article of popularArticles">
        <a class="article-link" [routerLink]="['/articles', article.url]">
            <div class="article">
                <div class="content">
                    <div class="comment-info">
                        <img src="assets/images/speech_bubble.png" alt="">
                        <span class="comment-count">5</span>
                    </div>
                    <span class="date">{{ article.createdAt.toLocaleDateString('en-US', dateOptions) }}</span>
                    <span class="title">{{ article.title }}</span>
                </div>
                <img class="image" [src]="article.imgUrl" alt="">
            </div>
        </a>
    </ng-container>
</ng-template>

<ng-template #topRated>
    <ng-container *ngFor="let article of topRatedArticles">
        <a class="article-link" [routerLink]="['/articles', article.url]">
            <div class="article">
                <div class="content">
                    <div class="comment-info">
                        <img src="assets/images/speech_bubble.png" alt="">
                        <span class="comment-count">5</span>
                    </div>
                    <span class="date">{{ article.createdAt.toLocaleDateString('en-US', dateOptions) }}</span>
                    <span class="title">{{ article.title }}</span>
                </div>
                <img class="image" [src]="article.imgUrl" alt="">
            </div>
        </a>
    </ng-container>
</ng-template>