@use 'utils/colors';
@use 'utils/typography';

.group {
  background-color: colors.$victoria;
}

.date {
  font-family: typography.$font-family-varela-round;
  font-size: typography.$font-size-xxxs;
  color: colors.$sidebar-dark;
}

.comment-count {
  font-family: typography.$font-family-varela-round;
  font-size: typography.$font-size-xxxs;
  color: colors.$sidebar-dark;
}

.content {
  display: flex;
  flex-direction: column;
  row-gap: 3px;
}

.title {
  font-family: typography.$font-family-bitter;
  font-size: typography.$font-size-sm;
  font-weight: bold;
  color: colors.$white;
}

.article-link {
  text-decoration: none;
  color: white;
}

.article {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 15px 20px;
  align-items: center;
  color: white;
  border-bottom: 1px solid colors.$black;
  column-gap: 20px;
}

.article:hover {
  background-color: colors.$sidebar-article-hover;
}

.image {
  width: 70px;
  height: 70px;
  border: 2px solid colors.$white;
}

.comment-info {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
  width: 90%;
  font-size: 10px;
  column-gap: 5px;
}
