<ngx-slick-carousel class="carousel first-carousel" #mainCarousel="slick-carousel" [config]="slideConfig"
    (afterChange)="afterChange($event)">
    <div ngxSlickItem *ngFor="let slide of slides" class="slide">
        <img #mainImg class="image" [src]="slide.img" alt="" width="100%">
    </div>
</ngx-slick-carousel>
<div class="overlay">
    <div class="navigation">
        <img class="prev" (click)="prev()" src="assets/images/arrow_left.png" />
        <img (click)="popUp()" src="assets/images/search.svg" alt="">
        <img class="next" (click)="next()" src="assets/images/arrow_right.png" />
    </div>
    <ngx-slick-carousel class="carousel second-carousel" #reelCarousel="slick-carousel" [config]="navConfig">
        <div ngxSlickItem *ngFor="let slide of slides" class="image-reel">
            <img class="nav-img" [src]="slide.img">
        </div>
    </ngx-slick-carousel>
</div>