<div class="content">
    <div class="kenaz">
        <div class="kenaz-title">
            <img class="kenaz-logo" src="assets/images/logo_blue.png" alt="">
            <h1>Kenaz</h1>
        </div>
        <p class="section-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus leo ante.</p>
        <div class="thumbnails">
            <img src="assets/images/rss_small.svg" alt="">
            <img src="assets/images/facebook_small.svg" alt="">
            <img src="assets/images/twitter_small.svg" alt="">
            <img src="assets/images/dribble_small.svg" alt="">
            <img src="assets/images/linkedin_small.svg" alt="">
            <img src="assets/images/youtube_small.svg" alt="">
            <img src="assets/images/skype_small.svg" alt="">
        </div>
    </div>
    <div class="newsletter">
        <h1 class="section-title">Newsletter</h1>
        <p class="section-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus leo ante.</p>
        <div class="newsletter-input">
            <input type="email" placeholder="Your mail">
            <button class="btn">Subscribe</button>
        </div>
    </div>
    <div class="tags">
        <h1 class="section-title">Tags Widget</h1>
        <div class="tag-row">
            <span class="tag">assueverit</span>
            <span class="tag">utroquoe</span>
            <span class="tag">probo</span>
            <span class="tag">assuev</span>
        </div>
        <div class="tag-row">
            <span class="tag">assueverit</span>
            <span class="tag">veritas</span>
            <span class="tag">probo</span>
            <span class="tag">mentar</span>
        </div>
        <div class="tag-row">
            <span class="tag">perak</span>
            <span class="tag">utroquoe</span>
            <span class="tag">probo</span>
            <span class="tag">assuev</span>
        </div>
    </div>
    <app-article-list title="Featured" [articles]="featuredArticles"></app-article-list>
    <app-article-list title="Random Posts" [articles]="randomArticles"></app-article-list>
    <app-tweets></app-tweets>
</div>
<div class="copyright-wrapper">
    <div class="copyright">
        <span>@ 2013 - Kenaz Template - Proudly made at Plava Tvornica Croatia</span>
        <span>Typography - Template - Contact Form - 404 Page</span>
    </div>
</div>