:host {
  border-top: 20px solid purple;
  background-color: black;
  display: block;
  color: white;
}

.content {
  width: 60%;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  column-gap: 15px;
}

.thumbnails {
  display: flex;
  flex-direction: row;
  column-gap: 5px;
}
