@use 'utils/colors';
@use 'utils/typography';

:host {
  width: 100%;
}

.title {
  margin-bottom: 15px;
}

.row {
  display: flex;
  flex-direction: row;
  align-items: stretch;
  justify-content: space-between;
  margin: 5px 0px;
  white-space: nowrap;
}

.count {
  display: flex;
  align-items: center;
  background-color: colors.$victoria;
  width: 100%;
  font-family: typography.$font-family-varela-round;
  font-size: typography.$font-size-sm;
  color: colors.$white;
}

.content {
  color: colors.$sidebar-black;
  font-family: typography.$font-family-bitter;
  font-weight: bold;
  font-size: typography.$font-size-lg;
  display: flex;
  align-items: center;
  background-color: colors.$sidebar-light;
  width: 100%;
}
.row {
  span {
    padding-left: 10px;
  }
}
