<form class="form" [formGroup]="commentFormGroup" #formDirective="ngForm" (ngSubmit)="onAddComment(formDirective)">
    <input formControlName="name" class="form-field name-field" type="text" name="name" id="name" placeholder="Name">
    <input formControlName="email" class="form-field email-field" type="email" name="email" id="email"
        placeholder="Email Address">
    <textarea formControlName="body" class="form-field body-field" name="body" id="body"
        placeholder="Comment"></textarea>
    <button class="btn" type="submit">Submit</button>
</form>